body {
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

h1 {
    font-size: 26px;
}
        
footer {
    background-color: rgb(255, 175, 175);
    padding: 20px;
    text-align: center;
    position: fixed;
    border-top: 1px solid #e7e7e7 ;
}

.form-control {
    max-width: 400px;
}

/* 子供の写真 */
.child-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    object-fit: cover;
    margin: auto;
}

.child-img-wrapper {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px; 
    border: 5px solid; 
}

.child-show-img-wrapper {
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    display: block;
    object-fit: cover;
    margin: auto;
    border: 5px solid; 
}

.child-img-edit {
    object-fit: cover;
}

/* ナビゲーションバー */
.logo {   
    font-family: 'Zen Maru Gothic', serif;
    font-weight: 700;
    font-size: 2em;
    color: rgb(255, 175, 175);
    text-decoration: none;
    letter-spacing: -0.05em;
    transition: color 0.3s ease;
}

.logo:hover {
    color: rgb(255, 205, 205);
}

.logo:active {
    color: rgb(255, 175, 175) ;
}

.logo:focus {
    color: rgb(255, 175, 175);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active {
    outline: none !important;
    box-shadow: none !important;
    transition: color 0.3s ease;
}

.navbar-text {
    margin-left: 35px;
    color: gray;
}

/*　認証ページ */
.kodomolog-btn {
    background-color: rgb(255, 175, 175) !important ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.kodomolog-btn:hover {
    background-color: rgb(255, 205, 205) !important ;
}

.register-btn {
    color: #f7f7f7;
    background-color: rgb(90, 160, 255) !important ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.register-btn:hover {
    color: #f7f7f7;
    background-color: rgb(155, 195, 255) !important ;
}

.login-text {
    font-size: 0.9rem;
    color: rgb(155, 195, 255);
}

        /* 管理者ページ  */

/* 園児一覧 */
.child-img-index {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    transition: opacity 0.3s ease;
}

.child-img-index:hover {
    opacity: 0.7;
}

.card-children-index {
    border: none !important ;
    box-shadow: none !important ;
}

.card-text {
    font-size: 1rem;
    text-align: center;
}


/* クラス一覧ページ */
table td span {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 50%;
}


        /* ユーザーページ */
        
/* ホーム画面（打刻） */
.attendance-btn {
    font-size: 1.5rem;
    padding: 15ps 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.child-select {
    background-color: #f7f7f7; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 0, 15px
}

.attendance-btn, .departure-btn {
    font-size: 1rem;
    padding: 10px, 15px;
    border-radius: 8px;
}

.attendance-btn {
    background-color: rgb(255, 175, 175);
    color: white;
}

.attendance-btn:hover {
    background-color: rgb(255, 205, 205) ;
    color: white;
}

.departure-btn {
    background-color: rgb(90, 160, 255); 
    color: white;
}

.departure-btn:hover {
    background-color:  rgb(155, 195, 255); 
    color: white;
}

/* 出席記録ページ */
.calendar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calendar-header, .calendar-body {
    display: flex;
    flex-wrap: wrap;
}

.calendar-cell {
    width: 14.28%;
    height: 120px; 
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box; 
    overflow: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.calendar-cell.empty {
    background-color: #f9f9f9;
}

.date {
    font-weight: bold;
    margin-bottom: 5px;
}

.attendance-record {
    background-color: rgb(255, 175, 175);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    max-height: 80px; 
    overflow-y: auto; 
}

.btn-month {
    color: rgb(255, 175, 175);
    border-color: rgb(255, 175, 175);
    border-color: rgb(255, 175, 175);
    padding: 5px 15px;
}

.btn-month:hover {
    background-color: rgb(255, 175, 175);
    color: #fff;
    border-color: rgb(255, 175, 175);
}

.custom-select {
    border: 1px solid rgb(255, 175, 175);
    color: #333;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #fff;
}

.custom-select:focus {
    border-color: rgb(255, 175, 175);
    box-shadow: 0 0 5px rgb(255, 175, 175);
    outline: none;
}

/* タブのレイアウト */
.nav-tabs .nav-link {
    background-color: #f9f9f9; 
    color: #555555;
    border: 1px solid #ddd;
    margin-right: 5px;
}

.nav-tabs .nav-link.active {
    background-color: #ebebeb; 
    color: #000000; 
}

.nav-tabs .nav-link:hover {
    background-color: #eaeaea; 
    color: #333333; 
}






